.container {
  display: flex;
  flex-direction: column;
  height: 300vh;
}

.header {
  flex: 30%;
  background-color: lightgray;
}

.menu {
  flex: 30%;
  background-color: darkgray;
}

.content {
  flex: 70%;
  background-color: white;
}

.footer {
  flex: 10%;
  background-color: lightgray;
}
h1{
  color: red;
}  
.f1{
  color: tomato;
  margin-top: 18pt;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
}
  .f2{
    color: black;
  margin-top: 6pt;
  margin-bottom: 6px;
  font-size: 15px;
  font-style: normal;
  font-family: Arial;
  }
